:root {
    /* color */
    --color-white: #ffffff;
    --color-light-gray: #a7a7a7;
    --color-dark-gray: #2c3e50;
    /* space */
    --space-general: 2rem;
    --space-wide: 5rem;
    --space-narrow: 1rem;
    /* size */
    --font-general: 1.25rem;
    --font-emphasis: 3rem;
    --font-clock: 4rem;
    /* shadow */
    --shadow-emphasis: 0.3rem 0.3rem var(--color-light-gray);
    --shadow-general: 0.2rem 0.2rem var(--color-light-gray);
    --shadow-narrow: 0.1rem 0.05rem var(--color-light-gray);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

li {
    list-style: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.js-clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--space-wide);
    font-size: var(--font-clock);
    text-shadow: var(--shadow-emphasis);
}

.js-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.js-greetings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-general);
    font-size: var(--font-emphasis);
    text-shadow: var(--shadow-general);
}

.js-toDoForm,
.js-toDoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--space-general);
}

.js-toDoInput { 
    width: 30rem;
    height: var(--space-general);
    border: none;
    font-size: var(--font-general);
    color: var(--color-dark-gray);
    resize: none;
}

.js-formInput {
    height: var(--space-general);
    margin-top: var(--space-wide);
    border: none;
    font-size: var(--font-general);
    color: var(--color-dark-gray);
    resize: none;
}

.js-toDoList {
    font-size: var(--font-general);
    text-shadow: var(--shadow-narrow);
}

